<div class="violet-about">
    <h4 class="v-section-tit">About heiniuhaha</h4>
    <article class="violet-about-det">
        <p id="J_myFace" class="v-my-face"><img src="/assets/themes/twitter/img/avatar.png" alt="Hello heiniu!" width="40px" height="40px" id="J_myFace_img" /></p>
        <p>Front-end Engineer，前端开发工程师</p>

        <p>腾讯手机管家团队担任前端开发组负责人，主要负责前端规划、框架与架构、前端性能优化。</p>
        <p>曾就职于淘宝任职前端开发工程师，花名"风月"。</p>
		<p>专注前端技术，关注交互体验，擅长web ajax开发。</p>

        <p>坚信前端工程师的价值是最终能把技术和设计完美结合在一起。用最新的技术方案巧妙地帮助这些设计得以实现。</p>
    </article>
    <p class="v-more-right">
        <a href="/about.html"><span>&#10149;</span>More</a>
    </p>
</div><!-- //violet-about -->