<div class="violet-about">
    <h4 class="v-section-tit">About heiniuhaha</h4>
    <article class="violet-about-det">
        <p id="J_myFace" class="v-my-face"><img src="/assets/themes/twitter/img/avatar.png" alt="Hello heiniu!" width="40px" height="40px" id="J_myFace_img" /></p>
        <p>web developer,F2E</p>
        <p>目前在创业公司爱锋乐担任前端开发组主管，主要负责网站前端规划、架构、前端性能优化。</p>
        <p>曾在淘宝任职前端开发工程师工作过两年，花名"风月"，擅长web ajax开发。</p>
    </article>
    <p class="v-more-right">
        <a href="/about.html"><span>&#10149;</span>More</a>
    </p>
</div><!-- //violet-about -->